<!-- start custom comments snippet -->

<div>

  <div>
    작성자 <input type="text" name="comment_writer" id="comment_writer" >
    
  </div>
  <div>
    내용 <textarea name="commnet_content"  id="commnet_content"></textarea>
  </div>


  <button  onclick="customCommentSubmit()">작성</button>

  <div id="comment_list">


  </div>

</div>
<script>
let url = {
      url : "{{page.url}}" 
    };




  function commentPrint(){

    fetch('http://118.42.77.201:8008/git/get_comment', {
      method: 'POST', // HTTP 메서드
      headers: {
        'Content-Type': 'application/json' // 전송할 데이터 타입
      },
      body: JSON.stringify(url) // JSON 문자열로 변환
    })
    .then(response => response.json())
    .then(data => {
      let comment_hmtl = "";
      data.forEach(element => {
        comment_hmtl+= "<div>작성자 : "+element.name+"  내용 : "+element.content+"  </div>";
      });

      document.getElementById("comment_list").innerHTML = comment_hmtl;
      
    })
    .catch(error => {
      console.error('Error:', error); // 에러 처리
    });
    

    
  }


  function customCommentSubmit(){

    const postData = {
      name: document.getElementById("comment_writer").value,
      content: document.getElementById("commnet_content").value,
      url : "{{page.url}}" 
    };


    // POST 요청 보내기
    fetch('http://118.42.77.201:8008/git/git_comment', {
      method: 'POST', // HTTP 메서드
      headers: {
        'Content-Type': 'application/json' // 전송할 데이터 타입
      },
      body: JSON.stringify(postData) // JSON 문자열로 변환
    })
    .then(response => response.json())
    .then(data => {
      console.log('Success:', data); // 응답 데이터 처리
      commentPrint();
    })
    .catch(error => {
      console.error('Error:', error); // 에러 처리
    });
    
  }


commentPrint();


  </script>
<!-- end custom comments snippet -->